# Ignore node_modules for both client and server
node_modules/
client/node_modules/
server/node_modules/

# Ignore environment variables (Important for security!)
.env

# Ignore build files
dist/
build/

# Logs
npm-debug.log*
yarn-debug.log*
yarn-error.log*